.header{
  display: flex;
  flex-direction: row;
  background-color: #60733e;
  padding: 0 1rem 2rem 0;
  box-shadow: 0 5px 10px #4b5d33;

  /* pour l'ombre*/
   position: relative;
  z-index: 10;
}

.header-blazon{

  width: 28%;
}

.header-navigation{
  display:flex;
  align-items: center;
  justify-content: center;

  flex: 1 1 auto;           /* prend l'espace dispo mais peut rétrécir */

  width: 54%;
}

.header-boutons{
  width: 18%;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    gap: 1rem;
  }

  .nav li a {
    font-size: 18px;      /* un peu plus petit sur mobile */
  }
}
