<div class="tout">
  <div class="info">
    <img id="logo" src="../../../../../assets/image/logo.png" />
    <div class="info-refuge">
      <p>
        QwackShelter - refuge animalier.<br />
        Chaque animal mérite sa chance
      </p>
    </div>

    <div class="contact-info">
      <p>
        12 chemin du qwack | Ouvert du Lundi au Samedi | 10h-18h <br />
        contact@qwackshelter.fr | 05 00 00 00 00
      </p>
    </div>
  </div>

  <div class="nav">
    <div class="footer-refuge">
      <h2>Refuge</h2>
      <div class="footer-refuge-content">
        <p>A Propos</p>
        <p>Nous aider</p>
        <p>Nos Animaux</p>
      </div>
    </div>

    <div class="footer-aide">
      <h2>Nous aider</h2>
      <div class="footer-aide-content">
        <p>Faire un don</p>
        <p>Parrainer un animal</p>
        <p>Devenir bénévole</p>
      </div>
    </div>

    <div class="footer-decouvrir">
      <h2>Découvrir</h2>
      <div class="footer-decouvrir-content">
        <p>Swipe ton compagnon</p>
        <p>Quel animal es-tu?</p>
      </div>
    </div>

    <div class="reseau">
      <h2>Nos Réseaux</h2>
      <div class="footer-reseau-content">
        <p><img src="../../../../../assets/image/fb.png"></p>
        <p><img src="../../../../../assets/image/insta.png"></p>
      </div>
    </div>
  </div>
</div>
