.tout{
  background-color: #60733e;
  padding: 2.1rem 2.1rem 0 2.1rem;
  display: flex;
  flex-wrap: wrap;
}

.info{
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 250px;
  margin-left: 2.8rem;
}

#logo{
  width: 70px;
  margin-top: 1.4rem;
  margin-left: 1.4rem;
}

.info-refuge{
  line-height: normal;
  font-family: 'Montagu Slab';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 1.4vw, 17px);
  color: #fafaf7;
}

.contact-info{
  line-height: normal;
  font-family: 'Montagu Slab';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(11px, 1vw, 11px);
  color: #fafaf7;
}

.nav{
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 500px;
  justify-content: center;
  align-items: flex-start;
  gap: 2.1rem;
  padding: 3.5rem 0;
}

.footer-refuge-content,
.footer-aide-content,
.footer-decouvrir-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.nav h2{
  font-family: 'Montagu Slab';
  font-weight: 600;
  font-size: clamp(18px, 1.8vw, 22px);
  color: #fafaf7;
}

.nav a{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: clamp(14px, 1.4vw, 17px);
  color: #24421d;
}

.footer-reseau-content{
  display: flex;
  justify-content: center;
}

.footer-reseau-content img{
  width: 35px;
  margin: 0 0.7rem;
}

@media (max-width: 700px) {
  .tout{
    flex-direction: column;
    align-items: center;
    padding: 1.4rem 0.7rem;
  }
  .info{
    width: 100%;
    margin-left: 0;
    text-align: center;
    align-items: center;
  }
  .nav{
    justify-content: center;
    text-align: center;
    gap: 1.4rem;
    padding: 1.4rem 0;
  }
}
