<div class="tout">
  <div class="info">
    <img id="logo" src="../../../../../assets/image/footer/logo.png" />
    <div class="info-refuge">
      <p>
        QwackShelter - refuge animalier.<br />
        Chaque animal mérite sa chance
      </p>
    </div>

    <div class="contact-info">
      <p>
        12 chemin du qwack | Ouvert du Lundi au Samedi | 10h-18h <br />
        contact@qwackshelter.fr | 05 00 00 00 00
      </p>
    </div>
  </div>

  <div class="nav">
    <div class="footer-refuge">
      <h2>Refuge</h2>
      <div class="footer-refuge-content">
  <a routerLink="/a-propos">A Propos</a>
  <a routerLink="/animaux">Nos Animaux</a>
  <a routerLink="/contact">Contact</a>
      </div>
    </div>

    <div class="footer-aide">
      <h2>Nous aider</h2>
      <div class="footer-aide-content">
        <a routerLink="/don">Faire un don</a>
        <a routerLink="/parrainer">Parrainer un animal</a>
        <a routerLink="/devenir-benevole" routerLinkActive="active">Devenir bénévole</a>
      </div>
    </div>

    <div class="footer-decouvrir">
      <h2>Découvrir</h2>
      <div class="footer-decouvrir-content">
        <a routerLink="/swipe-compagnon" routerLinkActive="active">Swipe ton compagnon</a>
        <a routerLink="/quizz">Quel animal es-tu?</a>
      </div>
    </div>

    <div class="reseau">
      <h2>Nos Réseaux</h2>
      <div class="footer-reseau-content">
        <a href="https://www.facebook.com/"><img src="../../../../../assets/image/footer/fb.png"></a>
        <a href="https://www.instagram.com/"><img src="../../../../../assets/image/footer/insta.png"></a>
      </div>
    </div>
  </div>
</div>
