.header-gauche{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-logo {
  justify-self: flex-start;
  align-self: center;
  margin: 15px;
}

.header-logo img {
width: 131px;
height: 158px;
}

.header-text-logo {
  display: flex;
  flex-direction: column;
}

#nom-shelter {
  font-size: 80px;
  font-family : 'Pacifico'
}

#slogan-shelter {
  color : #f7f4ee;
  font-family:'Montserrat';
  font-size: 24px;
  font-weight: 500;
}


