.newsletter {
  background-color: #23411d;
  display: flex;
  padding: 2.1rem 5.6rem;
}

h1 {
  font-family: 'Montagu Slab';
  font-style: normal;
  font-size: clamp(28px, 3.9vw, 39px);
  font-weight: 600;
  color: #fafaf7;
  margin-bottom: 0.5rem;
}

p {
  color: #fafaf7;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(14px, 1.7vw, 17px);
  font-weight: 600;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.text {
  margin-left: 1%;
}

.input-mail {
  display: flex;
  background-color: rgb(165, 52, 8);
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 30%;
  margin-left: 14rem;
  background: #b1b2b580;
  border-start-start-radius: 32px;
  border-start-end-radius: 32px;
  border-end-start-radius: 32px;
  border-end-end-radius: 32px;
  padding: 10px 7px;
}

.input {
  flex: 1 1 auto;
  margin-left: 0.7rem;
}

.input input {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border: none;
  outline: none;
  padding: 14px 14px;

  border-start-start-radius: 32px;
  border-start-end-radius: 32px;
  border-end-start-radius: 32px;
  border-end-end-radius: 32px;
  font-family: 'Montserrat';
  font-size: clamp(14px, 1.7vw, 17px);
}

.cadre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 42px;
}

.valider {
  background-color: #d88b3a;
  cursor: pointer;
  border-radius: 90px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lettre {
  align-self: center;
  width: 42px;
  height: 28px;
  margin-left: 5%;
}

#valid {
  align-self: center;
  width: 18px;
  height: 18px;
  margin-left: 5%;
}
