.nav {
  display: flex;
  justify-content: space-around;
  align-items: center; /* Centre verticalement */

  list-style: none;
  margin: 0;
  padding: 0;

  background-color: #60733e;
  height: 130px; /* hauteur du menu */
}

.nav li a {
  color: white;
  text-decoration: none;
  font-family: "Montagu Slab";
  font-size: 24px;
  font-weight: 400;
}


